/*============ GOOGLE FONTS ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*============ Custom Property ============*/
:root {
    --font-primary: "Roboto", sans-serif;
    --primary-color: #006BFF;
}

/*============ Global Rules ============*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #1976D2;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #115599;
}
body {
    position: relative;
    font-family: var(--font-primary);
    overflow-x: hidden;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a,
img,
span,
input,
button {
    display: block;
}
input,
button {
    outline: none;
    border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

/*============ COMPONENTS ============*/
.bg-color-primary {
    background-color: #006BFF;
}

.bg-color-second {
    /* background-color: #08C2FF; */
    background-color: #40A2E3;
}

.primary-color {
    color: var(--primary-color);
}

.second-color {
    color: #40A2E3;
}

.text-color {
    color: #555;
}

/*============ SPINNER ============*/
.spinner-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ;
    opacity: 1;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-overlay.remove {
    opacity: 0;
    visibility: hidden;
}

/*=============== HEADER ===============*/
header .nav-link {
    transition: 0.2s;
}

header .nav-link.active {
    color: #0dcaf0 !important;
}

header button {
    border-color: var(--primary-color) !important;
}

.dropdown-toggle::after {
    display: none;
}

/*=============== HOME ===============*/
.home li {
    border-color: var(--primary-color) !important;
    transition: 0.4s;
}

.home li:hover {
    transform: translateY(-4px);
}

.home .cv {
    font-size: 18px;
    padding: 15px 45px;
    box-shadow: 0px 8px 16px 0px var(--primary-color);
    transition: 0.3s;
}

.home .cv:hover {
    transform: translateY(-10px);
}

.home img {
    width: 450px;
    filter: drop-shadow( 0px 5px 5px var(--primary-color));
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/*=============== ABOUT ===============*/
.about img {
    width: 450px;
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/*=============== LATEST PROJECT ===============*/
.projects .card-project {
    border-radius: 15px;
    border-color: var(--primary-color) !important;
    box-shadow: 0 7px 30px -15px var(--primary-color);
}

.projects .card-project.not-ready {
    position: relative;
}

.projects .card-project.not-ready::before {
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    top: -2px;
    left: -2px;
    background-color: rgba(0, 0, 0, 0.712);
}

.projects .card-project.not-ready::after {
    content: attr(data-content);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

.projects a {
    font-size: 18px;
    padding: 13px 25px;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: initial !important;
}

/*=============== CONTACT ===============*/
.contact .row > div:first-of-type img {
    width: 300px;
}

.contact input.input{
    outline: none;
    padding-left: 40px !important;
    outline: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.712);
}

.contact form svg,
.contact form ::placeholder {
    color: #555 !important;
}

.contact textarea.input {
    outline: none;
    height: 150px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.712);
}

.contact input[type="submit"] {
    font-size: 20px;
    padding: 10px 45px;
    transition: 0.2s;
}

.contact input[type="submit"]:hover {
    transform: translateY(-5px);
    transition: 00.4;
}

@media(max-width: 576px) {
    .contact .row > div:first-of-type img {
        width: 200px;
    }
}

/*=============== ANIMATION ===============*/
@keyframes up-down {
    100% {
        transform: translateY(-20px);
    }
}

/*=============== SCROLL UP ===============*/
.to-up {
    right: 30px !important;
    bottom: -300px;
    transition: 0.6s;
    padding: 15px 15px;
    width: fit-content;
}

.to-up.show {
    bottom: 30px;
}

/*=============== --- ===============*/
@media (min-width: 768px){
    .home h1,
    .about h1,
    .skills h1,
    .projects h1{
        font-size: 50px;
    }
}

@media (max-width: 576px){
    .home img,
    .about img {
        width: 300px;
    }
}